<!DOCTYPE html>
<html lang="ko">
<head>
	<meta charset="UTF-8">
	<title>INsight</title>
</head>

<body>
<h1>Tentative Visualization</h1>
<canvas id="network" width="1000" height="1000"></canvas>
<script src="https://d3js.org/d3.v5.min.js"></script>

<script>
var graph = {
	nodes: [
		{country: "China", toa: 10000, confirmed: 80000},
		{country: "Korea", toa: 10, confirmed: 10000},
		{country: "USA", toa: 20, confirmed: 1000000},
		{country: "UK", toa: 30, confirmed: 165000},
		{country: "Spain", toa: 40, confirmed: 237000},
		{country: "Netherlands", toa: 50, confirmed: 39000},
		{country: "Canada", toa: 60, confirmed: 52000},
		{country: "Italy", toa: 100, confirmed: 200000}
	],
	links: [
		{source: "China", target: "Korea", strength: 0.1},
		{source: "China", target: "USA", strength: 0.1},
		{source: "China", target: "UK", strength: 0.2},
		{source: "China", target: "Spain", strength: 0.2},
		{source: "China", target: "Netherlands", strength: 0.3},
		{source: "China", target: "Canada", strength: 0.1},
		{source: "China", target: "Italy", strength: 0.2}
	]
};
var canvas = d3.select("#network"),
	width = canvas.attr("width"),
	height = canvas.attr("height"),
	r = 3,
	ctx = canvas.node().getContext("2d"),
	simulation = d3.forceSimulation()
		.force("x", d3.forceX(width / 3))
		.force("y", d3.forceY(height / 3))
		.force("collide", d3.forceCollide()
			.radius(function(d) {return d.confirmed / 10000 + 2; }))
		.force("charge", d3.forceManyBody()
			.strength(function(d) {return -d.toa; }))
		.force("link", d3.forceLink()
			.id(function(d) { return d.country; }))
		.on("tick", update);

//graph.nodes.forEach(function (d) {
//	d.x = Math.random() * width;
//	d.y = Math.random() * height;
//});

simulation.nodes(graph.nodes);
simulation.force("link")
	.links(graph.links);

function update() {
	ctx.clearRect(0, 0, width, height);

	ctx.beginPath();
	graph.links.forEach(drawLink);
	ctx.stroke();

	ctx.beginPath();
	graph.nodes.forEach(drawNode);
//	ctx.fill();
}

function drawNode(d) {
//	ctx.fillStyle = color(d.toa);
	ctx.moveTo(d.x, d.y);
	ctx.arc(d.x, d.y, d.confirmed / 10000, 0, 2 * Math.PI);
//	ctx.arc(d.x, d.y, d.toa / 10, 0, 2 * Math.PI);
	if (d.toa > 0)
		ctx.fillStyle = "red";
	else
		ctx.fillStyle = "black";
	ctx.fill();
	ctx.font = "20px sans-serif";
	ctx.fillStyle = "black"
	ctx.fillText(d.country, d.x, d.y);
}

function drawLink(l) {
	ctx.moveTo(l.source.x, l.source.y);
	ctx.lineTo(l.target.x, l.target.y);
}

update();
</script>
</body>
</html>
