<!DOCTYPE html>
<meta charset="utf-8">
<style>
svg {
	border: 1px solid;
}
.bar {
	fill: skyblue;
	fill-opacity: 0.3;
	stroke: skyblue;
}
.bar:hover {
	fill-opacity: 1;
}
.text {
	fill: white;
	font-weight:bold;
}
</style>
<svg width="500" height="300"></svg>
<script src="https://d3js.org/d3.v4.min.js"></script>
<script>
	var dataset = [{x:'A', y:9}, {x:'B', y:19}, {x:'C', y:29}, {x:'D', y:39},
		{x:'E', y:29}, {x:'F', y:19}, {x:'G', y:9}];

	var svg = d3.select("svg");

	svg.selectAll("rect")
		.data(dataset)
		.enter().append("rect")
			.attr("class", "bar")
			.attr("height", function(d, i) {return d*5})
			.attr("width", 40)
			.attr("x", function(d, i) {return (50 * i)})
			.attr("y", function(d, i) {return (250 - d*5)});
	svg.selectAll("text")
		.data(dataset)
		.enter().append("text")
		.text(function(d) {return d})
			.attr("class", "text")
			.attr("x", function(d, i) {return 50*i})
			.attr("y", function(d, i) {return 250 - 50*i});
</script>


/*<div id="my_dataviz"></div>

<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 10, left: 10},
  width = 445 - margin.left - margin.right,
  height = 445 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg = d3.select("#my_dataviz")
.append("svg")
  .attr("width", width + margin.left + margin.right)
  .attr("height", height + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Read data
d3.csv('https://raw.githubusercontent.com/holtzy/D3-graph-gallery/master/DATA/data_hierarchy_1level.csv', function(data) {

  // stratify the data: reformatting for d3.js
  var root = d3.stratify()
    .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
    .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
    (data);
  root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity

  // Then d3.treemap computes the position of each element of the hierarchy
  // The coordinates are added to the root object above
  d3.treemap()
    .size([width, height])
    .padding(4)
    (root)

console.log(root.leaves())
  // use this information to add rectangles:
  svg
    .selectAll("rect")
    .data(root.leaves())
    .enter()
    .append("rect")
      .attr('x', function (d) { return d.x0; })
      .attr('y', function (d) { return d.y0; })
      .attr('width', function (d) { return d.x1 - d.x0; })
      .attr('height', function (d) { return d.y1 - d.y0; })
      .style("stroke", "black")
      .style("fill", "#69b3a2");

  // and to add the text labels
  svg
    .selectAll("text")
    .data(root.leaves())
    .enter()
    .append("text")
      .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
      .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
      .text(function(d){ return d.data.name})
      .attr("font-size", "15px")
      .attr("fill", "white")
})
</script>*/
