<!DOCTYPE html>
<meta charset="utf-8">

<style>
svg {
	border: 1px solid;
}
.bar {
	fill: skyblue;
	fill-opacity: 0.3;
	stroke: skyblue;
}
.bar:hover {
	fill-opacity: 1;
}
.text {
	fill: black;
	font-weight:bold;
}
</style>

<svg width="500" height="300"></svg>

<script src="https://d3js.org/d3.v4.min.js"></script>

<!--<script>
	var dataset = [{x:'A', y:9}, {x:'B', y:19}, {x:'C', y:29}, {x:'D', y:39},
		{x:'E', y:29}, {x:'F', y:19}, {x:'G', y:9}];

	var svg = d3.select("svg");

	svg.selectAll("bar")
		.data(dataset)
		.enter().append("rect")
			.attr("class", "bar")
			.attr("height", function(d, i) {return d.y*5})
			.attr("width", 40)
			.attr("x", function(d, i) {return (50 * i)})
			.attr("y", function(d, i) {return (250 - d.y*5)});
	svg.selectAll("text")
		.data(dataset)
		.enter().append("text")
		.text(function(d) {return d.y})
			.attr("class", "text")
			.attr("x", function(d, i) {return 50*i})
			.attr("y", function(d, i) {return 250 - d.y*5});
</script>-->


<div id="treemap"></div>

<script>

// set the dimensions and margins of the graph
var margin = {top: 10, right: 10, bottom: 10, left: 10},
  width1 = 445 - margin.left - margin.right,
  height1 = 445 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg1 = d3.select("#treemap")
.append("svg")
  .attr("width", width1 + margin.left + margin.right)
  .attr("height", height1 + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Read data
d3.csv("https://raw.githubusercontent.com/ukjae0032/info-vis/master/blog/templates/blog/treemap_data.csv", function(data) {

  // stratify the data: reformatting for d3.js
  var root = d3.stratify()
    .id(function(d) { return d.name; })   // Name of the entity (column name is name in csv)
    .parentId(function(d) { return d.parent; })   // Name of the parent (column name is parent in csv)
    (data);
  root.sum(function(d) { return +d.value })   // Compute the numeric value for each entity

  // Then d3.treemap computes the position of each element of the hierarchy
  // The coordinates are added to the root object above
  d3.treemap()
    .size([width1, height1])
    .padding(4)
    (root)

console.log(root.leaves())
  // use this information to add rectangles:
  svg1
    .selectAll("rect")
    .data(root.leaves())
    .enter()
    .append("rect")
      .attr('x', function (d) { return d.x0; })
      .attr('y', function (d) { return d.y0; })
      .attr('width', function (d) { return d.x1 - d.x0; })
      .attr('height', function (d) { return d.y1 - d.y0; })
      .style("stroke", "black")
      .style("fill", "#69b3a2");

  // and to add the text labels
  svg1
    .selectAll("text")
    .data(root.leaves())
    .enter()
    .append("text")
      .attr("x", function(d){ return d.x0+10})    // +10 to adjust position (more right)
      .attr("y", function(d){ return d.y0+20})    // +20 to adjust position (lower)
      .text(function(d){ return d.data.name})
      .attr("font-size", "15px")
      .attr("fill", "white")
})
</script>


<div id="heatmap1"></div>
<script>

// set the dimensions and margins of the graph
var margin2 = {top: 30, right: 30, bottom: 30, left: 50},
  width2 = 800 - margin.left - margin.right,
  height2 = 600 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg2 = d3.select("#heatmap1")
.append("svg")
  .attr("width", width2 + margin2.left + margin2.right)
  .attr("height", height2 + margin2.top + margin2.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin2.left + "," + margin2.top + ")");

// Labels of row and columns
var myVars = ["1/22/20", "1/23/20", "1/24/20", "1/25/20", "1/26/20", "1/27/20", "1/28/20", "1/29/20", "1/30/20", "1/31/20", "2/1/20", "2/2/20", "2/3/20", "2/4/20", "2/5/20", "2/6/20", "2/7/20", "2/8/20", "2/9/20", "2/10/20", "2/11/20", "2/12/20", "2/13/20", "2/14/20", "2/15/20", "2/16/20", "2/17/20", "2/18/20", "2/19/20", "2/20/20", "2/21/20", "2/22/20", "2/23/20", "2/24/20", "2/25/20", "2/26/20", "2/27/20", "2/28/20", "2/29/20"]
var myGroups = ["Thailand", "South Korea", "Japan", "US", "Vietnam", "Singapore", "Malaysia", "Italy", "France", "United Kingdom", "Turkey", "Canada", "Australia", "Mexico", "New Zealand", "Iran", "Brazil", "Chile", "Argentina", "Germany"]

// Build X scales and axis:
var x2 = d3.scaleBand()
  .range([ 0, width2 ])
  .domain(myGroups)
  .padding(0.01);
svg2.append("g")
  .attr("transform", "translate(0," + height2 + ")")
  .call(d3.axisBottom(x2))

// Build X scales and axis:
var y2 = d3.scaleBand()
  .range([ height2, 0 ])
  .domain(myVars)
  .padding(0.01);
svg2.append("g")
  .call(d3.axisLeft(y2));

// Build color scale
var myColor2 = d3.scaleLinear()
  .range(["white", "#ff7f00"])
  .domain([0,50])

//Read the data
d3.csv("https://raw.githubusercontent.com/ukjae0032/info-vis/master/blog/templates/blog/heatmap1_data.csv", function(data) {

  svg2.selectAll()
      .data(data, function(d) {return d.dates+':'+d.country;})
      .enter()
      .append("rect")
      .attr("x", function(d) { return x2(d.dates) })
      .attr("y", function(d) { return y2(d.country) })
      .attr("width", x2.bandwidth() )
      .attr("height", y2.bandwidth() )
      .style("fill", function(d) { return myColor2(d.cases)} )

})
</script>

<div id="china"></div>
<script>

// set the dimensions and margins of the graph
var margin22 = {top: 30, right: 30, bottom: 30, left: 50},
  width22 = 800 - margin.left - margin.right,
  height22 = 100 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg22 = d3.select("#heatmap1")
.append("svg")
  .attr("width", width22 + margin22.left + margin22.right)
  .attr("height", height22 + margin22.top + margin22.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin22.left + "," + margin22.top + ")");

// Labels of row and columns
var myVars = [""]
var myGroups = ["Thailand", "South Korea", "Japan", "US", "Vietnam", "Singapore", "Malaysia", "Italy", "France", "United Kingdom", "Turkey", "Canada", "Australia", "Mexico", "New Zealand", "Iran", "Brazil", "Chile", "Argentina", "Germany"]

// Build X scales and axis:
var x22 = d3.scaleBand()
  .range([ 0, width22 ])
  .domain(myGroups)
  .padding(0.01);
svg22.append("g")
  .attr("transform", "translate(0," + height22 + ")")
  .call(d3.axisBottom(x22))

// Build X scales and axis:
var y22 = d3.scaleBand()
  .range([ height22, 0 ])
  .domain(myVars)
  .padding(0.01);
svg22.append("g")
  .call(d3.axisLeft(y22))

// Build color scale
var myColor22 = d3.scaleLinear()
  .range(["white", "#ff7f00"])
  .domain([0,5000000])

//Read the data
d3.csv("https://raw.githubusercontent.com/ukjae0032/info-vis/master/blog/templates/blog/china.csv", function(data) {

  svg22.selectAll()
      .data(data, function(d) {return d.s+':'+d.country;})
      .enter()
      .append("rect")
      .attr("x", function(d) { return x22(d.country) })
      .attr("y", function(d) { return y22(d.s) })
      .attr("width", x22.bandwidth() )
      .attr("height", y22.bandwidth() )
      .style("fill", function(d) { return myColor22(d.number)} )

})
</script>

<div id="heatmap2"></div>
<script>

// set the dimensions and margins of the graph
var margin = {top: 30, right: 30, bottom: 30, left: 30},
  width3 = 700 - margin.left - margin.right,
  height3 = 450 - margin.top - margin.bottom;

// append the svg object to the body of the page
var svg3 = d3.select("#heatmap2")
.append("svg")
  .attr("width", width3 + margin.left + margin.right)
  .attr("height", height3 + margin.top + margin.bottom)
.append("g")
  .attr("transform",
        "translate(" + margin.left + "," + margin.top + ")");

// Labels of row and columns
var myVars = ["5/23/09", "5/25/09", "5/26/09", "5/27/09", "5/29/09", "6/1/09", "6/3/09", "6/5/09", "6/8/09", "6/10/09", "6/11/09", "6/12/09", "6/15/09", "6/17/09", "6/19/09", "6/22/09", "6/24/09", "6/26/09", "6/29/09", "7/1/09", "7/3/09", "7/6/09"]
var myGroups = ["United Kingdom", "France", "Italy", "Germany", "Spain", "Netherlands", "Greece", "Ireland", "Switzerland", "Dominican Republic", "Jamaica", "Bahamas", "Brazil", "Columbia", "Peru", "Costa Rica", "Israel", "Japan", "China", "India", "Hong Kong", "Taiwan", "South Korea", "Australia"]

// Build X scales and axis:
var x = d3.scaleBand()
  .range([ 0, width3 ])
  .domain(myGroups)
  .padding(0.01);
svg3.append("g")
  .attr("transform", "translate(0," + height3 + ")")
  .call(d3.axisBottom(x))

// Build X scales and axis:
var y = d3.scaleBand()
  .range([ height3, 0 ])
  .domain(myVars)
  .padding(0.01);
svg3.append("g")
  .call(d3.axisLeft(y));

// Build color scale
var myColor = d3.scaleLinear()
  .range(["white", "#69b3a2"])
  .domain([1,5000])

//Read the data
d3.csv("https://raw.githubusercontent.com/ukjae0032/info-vis/master/blog/templates/blog/heatmap2_data.csv", function(data) {

  svg3.selectAll()
      .data(data, function(d) {return d.country+':'+d.date;})
      .enter()
      .append("rect")
      .attr("x", function(d) { return x(d.country) })
      .attr("y", function(d) { return y(d.date) })
      .attr("width", x.bandwidth() )
      .attr("height", y.bandwidth() )
      .style("fill", function(d) { return myColor(d.cases)} )

})

</script>
